fieldset {
    /* Gets rid of the original border */
    border: 0;
}

form {
    /* Centers the form on the page */
    margin: 0 auto;
    width: 600px;

    /* Creates a curved border */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

    /* Makes all fonts in the form the same */
    font-family: Arial, Helvetica, sans-serif;
}

/* Stands for every div after the first div in the form */
form div + div {
    margin-top: 1em;
}

label {
    /* Creates a uniform size and alignment fo the labels */
    display: inline-block;
    width: 90px;
    text-align: right;
}

legend {
    /* adds a bottom border to the legend */
    border-bottom: 1px solid black;
}

input,
textarea {
    /* fonts in textareas and inputs must be manually overrided */
    font-family: Arial, Helvetica, sans-serif;

    /* Uniform text field and textarea sizes */
    width: 425px;
    box-sizing: border-box;

    /* Match the  form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provides space to type text */
    height: 5em;
}

select {
    /* the font for select must be overrided */
    font-family: Arial, Helvetica, sans-serif;

    /* Make the select as wide as the other form elements. */
    width: 425px;
}

button {
    /* Space the button to the right */
    margin-left: .5em;
}


/* Code below will allow the form to be mobile-friendly through media queries */


@media screen and (max-width: 650px) {
    /* remove the width from the form so that it is just as wide as the screen */
    form{
        width: auto;
    }

    /* turn labels into blocks so they can stretch across the entire screen. Also, gets
    rid of the margin so that the text us left aligned. Finally, set the width to auto
    so that it isn't stuck at 90px */
    label {
        display: block;
        margin: 0;
        text-align: left;
        width: auto;
    }

    /* Let the inputs, textareas, and selects span the entire screen, too. */
    input,
    select,
    textarea {
        width: 100%;
    }
}
